body {
	background-color: #083567;

   
}

#container{
    margin: 10px;
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
}

h1 { font-size: 2em; margin: 0.67em 0 }
h2 { font-size: 1.5em; margin: 0.83em 0 }
h3 { font-size: 1.17em; margin: 1em 0 }
h4 { font-size: 1em; margin: 1.33em 0 }
h5 { font-size: 0.83em; margin: 1.67em 0 }
h6 { font-size: 0.75em; margin: 2.33em 0 }

hr { margin: 7px 0 }

a { color: inherit }
a:hover { text-decoration: none }

header h1 {
	margin-top: 0;
}

/* overide .navbar */
.navbar-inner {
	background-color: #083567;
	background-image: none;
	background-repeat: no-repeat;
	border: none;
	border-radius: 0;
	box-shadow: none;
	min-height: 40px;
	padding-left: 0;
	padding-right: 0;
}
.navbar .nav > li > a {
	color: #FFF;
	padding: 10px 15px;
	text-decoration: none;
	text-shadow: none;
}
.navbar .nav > li > a:hover {
	color: #FFF;
	text-decoration: none;
}
.navbar .divider-vertical {
    height: 40px;
}

.content {
	overflow: hidden;
	padding: 20px;
	margin: 0 -20px 20px; /* negative indent the amount of the padding to maintain the grid system */
	background-color: #FFF;
	-webkit-border-radius: 0 0 6px 6px;
	   -moz-border-radius: 0 0 6px 6px;
	        border-radius: 0 0 6px 6px;
	   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.35);
	      -moz-box-shadow: 0 1px 2px rgba(0,0,0,.35);
	           box-shadow: 0 1px 2px rgba(0,0,0,.35);
}

/* overide form, label, select, button, input */
form {
    margin: 0;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
	color: #333333;
	background-color: #FFF;
    cursor: default;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: default;
}

footer {
	overflow: hidden;
	padding: 20px;
	margin: 20px -20px -20px; /* negative indent the amount of the padding to maintain the grid system */
	background-color: #F5F5F5;
	border-radius: 0 0 6px 6px;
	border-top: 1px solid #DDDDDD;
}
footer p {
	margin: 0;
}

.form-inline .radio input[type="radio"] {
	margin-top: 2px;
}

.alert {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-bottom: 10px;
	padding: 2px 8px;
}

/* overide modal */
.modal-backdrop {
    background-color: #000000;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.8;
}
.modal-wide {
	width: 70%; /* desired relative width */
	left: 15%; /* (100%-width)/2 */
	/* place center */
	margin-left:auto;
	margin-right:auto; 
}

/*
* Copyright (c) 2012-2013 Thibaut Courouble
* http://www.cssflow.com
*
* Licensed under the MIT License:
* http://www.opensource.org/licenses/mit-license.php
*/

.login {
	position: relative;
	margin: 0 auto;
	padding: 20px 20px 20px;
	width: 310px;
	background: white;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login:before {
	content: '';
	position: absolute;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	z-index: -1;
	background: rgba(0, 0, 0, 0.08);
	border-radius: 4px;
}
.login h1 {
	margin: -20px -20px 21px;
	line-height: 40px;
	font-size: 18px;
	font-weight: bold;
	color: #555;
	text-align: center;
	text-shadow: 0 1px white;
	background: #f3f3f3;
	border-bottom: 1px solid #cfcfcf;
	border-radius: 3px 3px 0 0;
	background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
	background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
	background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
	background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
	-webkit-box-shadow: 0 1px whitesmoke;
	box-shadow: 0 1px whitesmoke;
}
.login p {
	margin: 20px 0 0;
}
.login p:first-child {
	margin-top: 0;
}
.login input[type=text], .login input[type=password] {
	width: 278px;
}
.login p.remember_me {
	float: left;
	line-height: 31px;
}
.login p.remember_me label {
	font-size: 12px;
	color: #777;
	cursor: pointer;
}
.login p.remember_me input {
	position: relative;
	bottom: 1px;
	margin-right: 4px;
	vertical-align: middle;
}
.login p.submit {
	text-align: right;
}

.login-help {
	margin: 20px 0;
	font-size: 11px;
	color: white;
	text-align: center;
	text-shadow: 0 1px #2a85a1;
}
.login-help a {
	color: #cce7fa;
	text-decoration: none;
}
.login-help a:hover {
	text-decoration: underline;
}

:-moz-placeholder {
	color: #c9c9c9 !important;
	font-size: 13px;
}

::-webkit-input-placeholder {
	color: #ccc;
	font-size: 13px;
}

.login input[type=text],
.login input[type=password] {
	margin: 5px;
	padding: 0 10px;
	height: 34px;
	color: #404040;
	background: white;
	border: 1px solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	border-radius: 2px;
	outline: 5px solid #eff4f7;
	-moz-outline-radius: 3px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
.login input[type=text]:focus,
.login input[type=password]:focus {
	border-color: #7dc9e2;
	outline-color: #dceefc;
	outline-offset: 0;
}

.login input[type=submit] {
	padding: 0 18px;
	height: 29px;
	font-size: 12px;
	font-weight: bold;
	color: #527881;
	text-shadow: 0 1px #e3f1f1;
	background: #cde5ef;
	border: 1px solid;
	border-color: #b4ccce #b3c0c8 #9eb9c2;
	border-radius: 16px;
	outline: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
	-webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
.login input[type=submit]:active {
	background: #cde5ef;
	border-color: #9eb9c2 #b3c0c8 #b4ccce;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
	line-height: 34px;
}

/* page-header */

#quiz-page-header h2,
#answer-page-header h2,
.setting-header,
h3.question {
	margin: 0;
	line-height: normal;
}

#quiz-page-header h2 a,
#answer-page-header h2 a {
	color: inherit;
	text-decoration: none;
}

.question-image{
	margin-top: 7px;
	text-align: center;
}

.answer p {
	margin: 0;
}

h3.question pre,
#question-table pre,
#answer-table pre {
	font-family: Arial, Helvetica, sans-serif;
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
}

h3.question pre,
span.badge {
	font-size: 14px;
}

#answer-table input {
	margin-bottom: 0;
}


/*
 * DataTable in Bootstrap style
 */
div.dataTables_length {
	float: left;
}
div.dataTables_length select {
	width: 90px;
}
div.dataTables_filter {
	float: right;
}
div.dataTables_paginate {
	float: right;
	margin: 0;
}
table.table {
	clear: both;
	margin-bottom: 6px !important;
	max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
	margin-bottom: 0 !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
div.dataTables_scrollBody table {
	border-top: none;
	margin-bottom: 0 !important;
}
div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
	border-top: none;
}
div.dataTables_scrollFoot table {
	border-top: none;
}

/* TableTools styles */
.table tbody tr.active td,
.table tbody tr.active th {
	background-color: #08C;
	color: white;
}
.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
	background-color: #0075b0 !important;
}
.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
	background-color: #017ebc;
}
table.DTTT_selectable tbody tr {
	cursor: pointer;
	*cursor: hand;
}
div.DTTT .btn {
	color: #333 !important;
	font-size: 12px;
}
div.DTTT .btn:hover {
	text-decoration: none !important;
}
ul.DTTT_dropdown.dropdown-menu a {
	color: #333 !important; /* needed only when demo_page.css is included */
}
ul.DTTT_dropdown.dropdown-menu li:hover a {
	background-color: #0088cc;
	color: white !important;
}

/* TableTools information display */
div.DTTT_print_info.modal {
	height: 150px;
	margin-top: -75px;
	text-align: center;
}
div.DTTT_print_info h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}
div.DTTT_print_info p {
	font-size: 14px;
	line-height: 20px;
}

/* FixedColumns styles */
div.DTFC_LeftHeadWrapper table,
div.DTFC_LeftFootWrapper table,
table.DTFC_Cloned tr.even {
	background-color: white;
}
div.DTFC_LeftHeadWrapper table {
	margin-bottom: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
div.DTFC_LeftBodyWrapper table {
	border-top: none;
	margin-bottom: 0 !important;
}
div.DTFC_LeftBodyWrapper tbody tr:first-child th,
div.DTFC_LeftBodyWrapper tbody tr:first-child td {
	border-top: none;
}
div.DTFC_LeftFootWrapper table {
	border-top: none;
}
/*
 * End DataTable in Bootstrap style
 */